<div>
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div>
  <div class="col-xs-12">
    <h1>食谱名称</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        管理食谱 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">商品列表</a></li>
        <li><a href="#">修改食谱</a></li>
        <li><a href="#">删除食谱</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    描述信息
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
  食谱材料
  </div>
</div>