<div>
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">名称</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">数量</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn-success" type="submit">添加</button>
          <button class="btn-danger" type="submit">删除</button>
          <button class="btn-primary" type="submit">清除</button>
        </div>
      </div>
    </form>
  </div>
</div>